@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.f-family {
    font-family: 'Roboto', sans-serif;
}

.img__container {
    height: 700px;
    max-height: 700px;
}

@media screen and (min-width: 576px) {
    .img__container {
        height: 500px;
        max-height: 500px;
    }
}

@media screen and (min-width: 768px) {
    .img__container {
        height: 400px;
        max-height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .img__container {
        height: 400px;
        max-height: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .img__container {
        height: 400px;
        max-height: 400px;
    }
}


.shadow {
    border-radius: 1.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
}

.nav-hover:hover {
    color: #BB2D3B !important;
}


/* loader */

.orbit-spinner,
.orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #ff1d5e;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}




#imageModal .modal-content {
    background-color: rgb(5, 4, 4);
    border: none;
}

#imageModal .modal-body {
    text-align: center;
}

#modalImage {
    max-width: 100%;
    height: auto;
}

#imageModal .close {
    color: rgb(255, 255, 255);
    /* Color del botón de cerrar */
}



.zoom-effect {
    object-view-box: inset(0%);
    transition: all .3s;
}

.zoom-effect:hover {
    object-view-box: inset(5%);
}